17-xml-jaxb/xml/family.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.example.org/family" 
xmlns="http://www.example.org/family" 
elementFormDefault="qualified">


<xs:element name="person">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="firstname" type="xs:string"/>
      <xs:element name="lastname" type="xs:string"/>
      <xs:any minOccurs="0" processContents="lax"/>
    </xs:sequence>
  </xs:complexType>
</xs:element> 
</xs:schema>