17-xml-jaxb/xml/note4.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="unqualified">

	<xs:element name="notes" type="noteListType" />

	<xs:complexType name="noteType">
		<xs:sequence>
			<xs:element name="to" type="xs:string" />
			<xs:element name="from" type="xs:string" />
			<xs:element name="heading" type="xs:string" />
			<xs:element name="body" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="noteListType">
		<xs:sequence>
			<xs:element name="note" type="noteType" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>